# Dependencies
node_modules/
*.log
.env
.DS_Store

.aws-sam/
samconfig.toml
# If you have private environment variables
.env

# Builds
dist/
build/
*.min.js

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.vercel
.env*.local
