openapi: 3.1.0
info:
  title: evolving-mind-ai
  version: 1.0.0
  description: API for Slackbot Lambda testing
servers:
  - url: https://evolving-mind-api.amazon.com/
    description: Development server
paths:
  /ui/slackbot/ping:
    post:
      summary: Slackbot Lambda test
      operationId: pingSlackbot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
            example: # Adding this makes the preview show actual data
              text: "Hello from Postman"
      responses:
        '200':
          description: Pong response
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
              example:
                text: "pong"
  /serv/schema:
      get:
        summary: List all schemas
        responses:
          '200':
            description: List of schemas
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      tables:
                        type: array
                        items:
                          type: string
      post:
        summary: Create new schema
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                required: [name]
                properties:
                  name:
                    type: string
                  tables:
                    type: array
                    items:
                      type: string
        responses:
          '201':
            description: Schema created
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: string
  /serv/schema/{schemaName}:
    get:
      summary: Get schema details
      parameters:
        - name: schemaName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Schema details
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  tables:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        columns:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              type:
                                type: string
    put:
      summary: Update schema
      parameters:
        - name: schemaName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                tables:
                  type: array
                  items:
                    type: string
      responses:
        '200':  # <-- ADD THIS
          description: Schema updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  tables:
                    type: array
                    items:
                      type: string
    delete:
      summary: Delete schema
      parameters:
        - name: schemaName
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Schema deleted
   # Table Service Endpoints (serv/table.js)
  /serv/table:
    get:
      summary: List all tables across schemas
      parameters:
        - name: schema
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of tables
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    schema:
                      type: string
    post:
      summary: Create new table
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, schema, columns]
              properties:
                name:
                  type: string
                schema:
                  type: string
                columns:
                  type: array
                  items:
                    type: object
                    required: [name, type]
                    properties:
                      name:
                        type: string
                      type:
                        type: string
      responses:
        '201':
          description: Table created
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  schema:
                    type: string
                  id:
                    type: string
  /serv/table/{schema}/{tableName}:
    get:
      summary: Get table details
      parameters:
        - name: schema
          in: path
          required: true
          schema:
            type: string
        - name: tableName
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Table details
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  schema:
                    type: string
                  columns:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        type:
                          type: string
    delete:
      summary: Delete table
      parameters:
        - name: schema
          in: path
          required: true
          schema:
            type: string
        - name: tableName
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Table deleted